{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"experimentalObjectRestSpread": true,
			"impliedStrict": true
		}
	},
	"env": {
		"browser": true,
		"node": true,
		"commonjs": true,
		"es6": true,
		"shared-node-browser": true
	},
	"rules": {
		"jsx-boolean-value": 0,
		"semi": [
			2,
			"never"
		],
		"no-undef": 1,
		"no-invalid-regexp": 2
	},
	"globals": {
		"isDev": true,
		"projectConfigs": true,
		"_": true,
		"writeJSONFileSync": true,
		"readJSONFileSync": true,
		"baseDir": true,
		"log": true,
		
		"compileTasks":true,
		"allWatchConfigs":true,
		"nextMinorVersion":true,
		"releaseFiles":true,
		"releaseDir":true,
		"projectNames":true,
		"basePackageJson": true,
		"tsc": true,
		"processDir": true,
		"console": true,
		"process": false,
		
		"getLogger":true,
		"ProcessType": true,
		"ProcessConfig": true,
		"Env": true
	}
}
