-
doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title="Image Detail"
		style.
			#image_list {
				padding: 5px;
			}
			.image_default {
				border: 1px solid #666;
			}
			.image_highlighted {
				border: 1px solid #fff;
			}

	body
		#root
		#image_list

		script.
			require('./annotator-image-lightbox')
