{
	"presets": [
		"@babel/preset-typescript",
	],
	"sourceMaps": "both",
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		"babel-plugin-transform-class-properties",
		"@babel/plugin-transform-modules-commonjs",
		"@babel/plugin-transform-react-jsx"
	]
}
