
@import url(material-icons/material-icons.global.css);
@import url(fira-code/webfont.css);
@import url(firacode/stylesheet.css);
@import url(octicons/octicons.css);


$font-weight-map: (
	'UltraLight': 100,
	'Thin': 100,
	'Light': 300,
	'Regular': 400,
	'Medium': 500,
	'Semibold':600,
	'Demibold':600,
	'Bold':700,
	'Black':900,
	'Heavy':900,
);



@mixin makeFontFace($font-name,$weights...) {
	@each $weight in $weights {

		@font-face {
			font-family: $font-name;
			src: url('#{$font-name}/#{$font-name}-#{$weight}.eot');
			src: url('#{$font-name}/#{$font-name}-#{$weight}.eot?iefix') format('eot'),
			url('#{$font-name}/#{$font-name}-#{$weight}.woff') format('woff'),
			url('#{$font-name}/#{$font-name}-#{$weight}.ttf') format('truetype'),
			url('#{$font-name}/#{$font-name}-#{$weight}.svg##{$font-name}') format('svg');
			font-style: normal;
			font-weight: #{map_get($font-weight-map,$weight)};
		}
	}
}

@include makeFontFace('AvenirNext','Heavy','Bold','DemiBold','UltraLight','Medium','Regular')
//@include makeFontFace('Roboto','Black','Bold','Light','Medium','Regular','Thin')
//@include makeFontFace('Orbitron','Black','Bold','Medium','Regular')
//@include makeFontFace('Hind','Bold','Light','Medium','Regular','Semibold')
//@include makeFontFace('Play','Bold','Regular')
//@include makeFontFace('PoiretOne','Regular')
//@include makeFontFace('Questrial','Regular')
//@include makeFontFace('Righteous','Regular')


.font-orbitron {
	font-family: 'Orbitron', sans-serif;
}

.font-righteous {
	font-family: 'Righteous', cursive;
}

.font-play {
	font-family: 'Play', sans-serif;
}

.font-hind {
	font-family: 'Hind', sans-serif;
}

.font-questrial {
	font-family: 'Questrial', sans-serif;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}


/*font-family: 'Poiret One', cursive;*/

/*font-family: 'Hind', sans-serif;*/

/*font-family: 'Questrial', sans-serif;*/

/*font-family: 'Play', sans-serif;*/

/*font-family: 'Orbitron', sans-serif;*/

/*font-family: 'Righteous', cursive;*/

/*@font-face {*/
	/*font-family: '<Font Name>';*/
	/*src: url('fonts/<fontname>.eot');*/
	/*src: url('fonts/<fontname>.eot?iefix') format('eot'),*/
	/*url('fonts/<fontname>.woff') format('woff'),*/
	/*url('fonts/<fontname>.ttf') format('truetype'),*/
	/*url('fonts/<fontname>.svg#<fontname>') format('svg');*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
/*}*/

