.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-center {
	composes: flex-row;
	align-items: center;
}


.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-scale {
	flex: 1 1 0;
}

.flex-column-center {
	composes: flex-column;
	align-items: center;
	justify-content: center;
}
