
//TODO: Implement theme

.Resizer {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	opacity: .3;
	z-index: 1;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	position: relative;
	transition: none 0.4s ease;
	transition-property: opacity, height, width;
	background: transparent;
	border-color: transparent;
	
	&::after {
		transition: none 0.4s ease;
		transition-property: opacity;
		z-index: 2;
		position: absolute;
		display: block;
		content: ' ';
		opacity: 0;
		pointer-events: none;
	}
	
	&:hover {
		opacity: 0.8;
		
		&::after {
			opacity: 0.7;
			pointer-events: none;
		}
	}

	&.horizontal {
		height: 1.1rem;
		//height: 1rem;
		margin: -0.5rem 0;
		border-top-width: 0.5rem;
		border-top-style: solid;
		border-top-color: transparent;
		border-bottom-width: 0.5rem;
		border-bottom-style: solid;
		border-bottom-color: transparent;
		cursor: row-resize;
		width: 100%;
		
		&::after {
			top: -0.5rem;
			left: 0;
			height: 1rem;
			right: 0;
		}
		
	}

	&.vertical {
		//width: 1.1rem;
		width: 1rem;
		margin: 0 -0.5rem;
		border-left-width: 0.5rem;
		border-left-style: solid;
		border-left-color: transparent;
		border-right-width: 0.5rem;
		border-right-style: solid;
		border-right-color: transparent;
		
		cursor: col-resize;
		
		&::after {
			left: -0.5rem;
			top: 0;
			width: 1rem;
			bottom: 0;
		}
		
	}

}
