
.labelTooltip {
	background: transparent !important;
	border: 0 !important;
	margin-top: 0 !important;
	
	&:after {
		content: "" !important;
		border-top: 0 !important;
	}
}

.formErrorTooltip {
	max-width: 50vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}